div{
    background-color: rgb(153, 105, 243);
    width: 300px;
    border: 5px solid rgb(238, 139, 57);
    padding: 50px;
    margin: 20px;
    box-shadow: 15px 10px 10px  rgb(104, 52, 52);
    border-radius: 30px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(17, 7, 7);
}
h2{
    text-shadow: rgb(14, 43, 206);
}
h3{
    font-style: italic;
}